<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessjournal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".GoogleSignInActivity" android:label="Sign-In">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <activity
            android:name=".HomeScreenActivity" android:label="Home" android:parentActivityName=".GoogleSignInActivity">
        </activity>

        <activity
            android:name=".UploadProgramActivity" android:label="Upload" android:parentActivityName=".HomeScreenActivity">
        </activity>

        <provider
            android:authorities="com.example.fitnessjournal.Models.JournalProvider"
            android:name=".Models.JournalProvider"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
